
/* color pallette from coolors.com https://coolors.co/dad7cd-a3b18a-588157-3a5040-344e41 
    timberwolf, sage, fern green, feldgrau, and brunswick green*/
    
:root {
    --padding: 1rem;    
    --border: 1px solid rgba(0,0,0,0.1);

    --heading-font: 'Knewave', Helvetica, sans-serif;
    --text-font: "Roboto", serif;

    --primary-color: #344e41;
    --secondary-color: #3a5040;
    --accent1-color: #588157;
    --accent2-color: #a3b18a;
    --accent3-color:  #dad7cd; 

    /* another possible color palette */
    /* #27A7EC, #46C7C9, #419F40, #9FC164, #DFDCD1 */
}

* {
	margin: 0;
	padding: 0;
    background-color: var(--accent1-color);
}

body {
    font-family: var(--text-font);
    font-weight: 400;  
    /* max-width: 960px; */
    /* margin: 0 auto; */
    /* padding: 4em; */
    text-align: center;
  }

header {
    padding: 1em;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--primary-color);
  }

main{
    padding: 10px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    height: auto;
    border: 1px solid black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--primary-color);
}

h2 {
    text-align: center;
    padding-top: 2em;
}

p {
    font-family: var(--text-font);
    color: var(--primary-color);
    padding: 1em;
}

nav {
    background-color: var(--primary-color); 
    display: inline;
    padding: 10px;
    margin: 0, 0, 0, 15px;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    justify-content: space-around;
}

nav a {
    background-color: var(--primary-color); 
    color: var(--accent2-color);
    display: inline;
    margin-left: 1rem;
    padding: 10px;
    /* text-decoration: none; */
}

/* set up styling for footer area */
footer {
    margin-top: 5px;
    text-align: left;
    background-color: var(--primary-color);
}
footer p{
    background-color: var(--primary-color);
    color: var(--accent3-color);
}
footer nav a {
    text-decoration: none;
}



/* CLASS SELECTORS */
 .hero {
	margin: 10px auto;
	position: relative; 
    max-width: 600px;
    background-size: 50%;
    background-color:var(--accent2-color);

}

/* Make sure image fills the container it is in */
.hero img{
    display:block;
    width: 100%;
    height: auto;
}

/* hero class heading */
.hero h1 {
    text-align: top;
    vertical-align: center;
    position: absolute;
    top: 3%;
    left: 28%;
    color: var(--primary-color);
    background: radial-gradient(#eee, var(--secondary-color));
  }

.hero article {
    position: absolute;
    width: 35%;
    top: 35%;
    left: 65%;
    color: var(--primary-color);
    background-color:  rgba(255,255,255,0.5);

}

.hero-image{
    float: right;
}
  
.hero p {
    background-color: rgba(255,255,255,0);
}

/* color schemes*/
.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}
  
.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.knewave-regular {
    font-family: "Knewave", serif;
    font-weight: 400;
    font-style: normal;
}

.caveat-brush-regular {
    font-family: "Caveat Brush", serif;
    font-weight: 400;
    font-style: normal;
}
