:root {
    --heading-background-color:rgb(60, 0, 255);
    --heading-text-color:#333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px dolid rgba(0,0,0,0.1);
}

main{
    max-width: 800px;
    /* background-color: lightblue ; */
}

nav {
    /* background-color: var(--heading-background-color); darkblue; */
    background-color: darkblue;
    padding: 10px;
}

nav a {
    /* color: white; */
    color: white;
    display: inline;
    padding: 30px;
}

h1 {
    /* color: var(--heading-background-color); darkblue; */
    color: darkblue;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow:  0 0 30px gray;
    
}

p {
    padding: 0;
}

aside{
    width: 25rem;
    margin: 1rem;
    border: 5px solid rgba(68, 8, 128, 0.2);
    padding: 1rem;
    background-color: #eeee;
    color: #333;
    text-align: center; 
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 5px;
    border-top: 1px dashed #1a0870 ;
    text-align: center;
}