:root {
    --heading-background-color:#f06;
    --heading-text-color:#333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px dolid rgba(0,0,0,0.1);
}

nav {
    background-color: var(--heading-background-color); /*darkblue;*/
    padding: 10px;
}

nav a {
    color: white;
    display: inline;
    padding: 30px;
}

h1 {
    color: var(--heading-background-color); /*darkblue;*/
}

img {
    width: 150px;
    height: auto;
    border: 1px sold black;
    padding: 2px;
    box-shadow:  0 0 30px gray;
}

p {
    padding: 10px
}